.container {
    margin-top: 2rem; 
    margin-left: 7rem; 
    width: 100%;
    padding-top: 6rem;
}
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

  
  .aboutHeading {
    font-size: 4.5rem; 
    line-height: 1;
    margin-left: 1rem; 
    padding-bottom: 4rem;
    align-items: center;
    animation: zoomIn 1s ease;
  }
  
  .aboutParagraph {
    color: #6b7280; 
    font-size: 1.875rem; 
    margin-right: 1rem; 
    margin-left: -2rem;
    line-height: 2.25rem;
    padding-top: 4rem; 
    animation: zoomIn 1s ease; 
  }
  
  @keyframes zoomIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .flex-column > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem /* 32px */ * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem /* 32px */ * var(--tw-space-y-reverse));
}
  
  .gridLayout {
    display: grid;
    gap: 2.5rem;
    padding-top: 12rem;
    margin-left: 6rem;
  }

  @media (min-width: 768px) {
    .gridLayout {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
  
  .items-center {
    align-items: center;
  }
  