.container {
    padding-top: 8rem;
    padding-bottom: 0rem;
  }
  .container {
    width: 100%;
}
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

.gridLayout {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2.5rem;
  }

  .space > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem /* 32px */ * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem /* 32px */ * var(--tw-space-y-reverse));
}
  
  .contactHeading {
    font-size: 3rem;
    line-height: 1;
    margin: 1.5rem; 
    animation: zoomIn 1s ease;
  }
  
  .contactParagraph {
    color: #4b5563; 
    font-size: 18px;
    padding-top: 0.5rem;
    margin: 1.5rem; 
    animation: zoomIn 1s ease;
  }
  
  .contactInfo {
    display: flex;
    gap: 0.75rem; 
    align-items: flex-start;
    margin: 1.5rem; 
    animation: zoomIn 1s ease;
  }

  .contactField {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-top: 1rem;
    animation: zoomIn 1s ease;
  }
  
  .inputField {
    height: 40px; 
    background-color: transparent;
    --tw-border-opacity: 1;
    border: 1px solid #15803d; 
    margin-bottom: 0.5rem;
    
  }

  .textareaField {
    background-color: transparent;
    border-width: 1px;
    --tw-border-opacity: 1;
    border: 1px solid #15803d;
    margin-bottom: 0.5rem;
  }
  
  .button {
    background-color: #15803d;
    --tw-border-opacity: 1;
    padding: 0.5rem;
    padding-left: 1.5rem; 
    padding-right: 1.5rem;
    cursor: pointer;
    animation: zoomIn 1s ease;
  }
  
  .button:hover {
    background-color: #16a34a;
    animation: zoomIn 1s ease;
  }