.headingContainer {
    text-align: center;
    font-size: 2.25rem; 
    line-height: 2.5rem;
    padding-bottom: 2rem; 
  }
  
  .headingTitle {
    display: inline-block;
    padding-bottom: 0.5rem;
    border-bottom: 4px solid;
  }
  