.navbarContainer {
    padding-top: 2.25rem;
    width: 100%;
}
  @media (min-width: 640px) {
      .container {
          max-width: 640px;
      }
  }
  @media (min-width: 768px) {
      .container {
          max-width: 768px;
      }
  }
  @media (min-width: 1024px) {
      .container {
          max-width: 1024px;
      }
  }
  @media (min-width: 1280px) {
      .container {
          max-width: 1280px;
      }
  }
  @media (min-width: 1536px) {
      .container {
          max-width: 1536px;
      }
    }

  .navbarFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbarText {
    font-size: 2.25rem;
    font-family: serif;
    line-height: 1.75rem;
    font-weight: 500;
  }
  

  .navbarLinks {
    display: none; 
    gap: 2.5rem; 
    font-weight: 700;
    margin-right: 2rem;
  }
  @media (min-width: 1024px) {
    .navbarLinks {
        gap: 4rem;
    }
}
  

  @media (min-width: 768px) {
    .navbarLinks {
      display: flex;
    }
  }
  

  .navbarLink {
    list-style: none;
  }
  
  .navbarLink a {
    text-decoration: none;
    color: inherit;
  }
  

  .hamburgerIcon {
    display: block;
  }
  
  @media (min-width: 768px) {
    .hamburgerIcon {
      display: none;
    }
  }
  